@import '../../styles/base';

.balance {
    display: flex;
    flex-direction: column;
    background-color: $background-alt;
    padding: 0 2rem;
    &__container {
        width:12rem;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
    &__balanceUnit {
        display: flex;
    }
    &__label {
        font-size: 0.8rem;
        color:$foreground;
    }
    &__value {
        font-size: 3rem;
        font-weight: bold;
        color:$accent;
    }
    &__unit {
        font-size: 0.8rem;
        font-weight: bold;
        color:$foreground;
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }
}