.button-link {
    text-decoration: underline;
    border: 0;
    padding: 0 0.5rem;
    cursor: pointer;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


/* Reusable Components */
.errorMessage {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $error;
    color: $white;
  }

  .loader {
    padding: 2rem;
  }

  .footer {
    padding: 2rem;
    text-align: left;
    font-size: 0.8rem;
    color: $white;
    background-color: $foreground;
  }