@import "base";

/* Note: BEM methodology is used to organize css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $foreground;
  background-color: $background-alt;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  font-size: 16px;
  line-height: 1.4;
  height: 2rem;
  padding: 0 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  // height: 1px;
  border: 0;
  border-top: 1px solid $accent;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

*:focus {
  outline: 2px solid $black;
}

/* Utility classes */
.flex-container {
  display: flex;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reusable Components */
.errorMessage {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $error;
  color: $white;
}

.loader {
  padding: 2rem;
}

.footer {
  padding: 2rem;
  text-align: left;
  font-size: 0.8rem;
  color: $white;
  background-color: $foreground;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
