// @import '../../styles/base';

.container {
  max-width: 1400px;
  height:100vh;
  margin:0 auto;
  padding: 1rem;
  display:flex;
  flex-direction: column;
}

.emptySearchSection{
  display: flex;
  justify-content:center;
  align-items: center;
}

.resultsSection {
  flex:1;
}