@import "../../styles/base";

.search {
  background-color: $background;
  padding: 1rem;
  border-radius: 4px;
  &__formGroup {
    margin: 1rem 0;
  }
  &__fieldLabel {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
  &__field {
    width: 100%;
    border: none;
    border-radius: 4px;
  }
  &__field.invalid {
    border: 2px solid $error;
  }

  &__errorMessage {
    font-size: 0.9rem;
    color: $error;
  }
  &__searchButton {
    margin-top: 1rem;
    height: 32px;
    width: 100%;
    color: $white;
    background-color: $accent;
    border: none;
    border-radius: 4px;
  }
  &__searchButton:disabled {
    background-color: $foreground-alt;
    border: none;
    border-radius: 4px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search {
    &__form {
      display: flex;
      align-items: flex-start;
    }
    &__formGroup {
      margin: 0 1rem 0 0;
    }
    &__searchButton {
      width: 10rem;
      margin-top: 1.4rem;
    }
    &__inputContainer {
      flex: 4;
    }
    &__selectContainer {
      // margin: 0 1rem;
      flex: 1;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
